/* Mainpage.css */

.main-page {
    display: flex;
    height: 100vh; /* Set the main page height to fill the viewport */
}

.sidebar {
    width: 200px; /* Set the width of the sidebar */
    position: fixed;
    top: 0; /* Stick the sidebar to the top of the viewport */
    left: 0; /* Stick the sidebar to the left side of the viewport */
    height: 100vh; /* Set the height of the sidebar to fill the viewport */
    background-color: black;
    padding: 20px;
    color: white;
    font-size: larger;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
    cursor: pointer; /* Change cursor to pointer on hover */
}

.selected {
    color: #ff5903; /* Change background color for active navbar item */
}

.main-content {
    flex: 1; /* Make the main content expand to fill the remaining space */
    padding: 20px;
    position: relative;
    margin-left: 200px; /* Add margin to the left equal to sidebar width */
    overflow-y: auto; /* Add vertical scrollbar if content exceeds main content height */
    max-width: calc(100vw - 200px); /* Set maximum width to the screen width minus the sidebar width */
     /* Center the main content horizontally */
    margin-left: auto; /* Center the main content horizontally */
}
