/* Mainpage.css */

.main-page {
    display: flex;
    height: 100vh; /* Set the main page height to fill the viewport */
}

.sidebar {
    width: 200px; /* Set the width of the sidebar */
    height: 200vh;

    background-color: black;
    padding: 20px;
    color: white;
    font-size: larger;


}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
    cursor: pointer; /* Change cursor to pointer on hover */

}

.selected {
    color: #ff5903; /* Change background color for active navbar item */
}

.main-content {
    flex: 1; /* Make the main content expand to fill the remaining space */
    padding: 20px;
}
