/* Post.css */

.post-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  .form-container input[type="file"] {
    margin-bottom: 10px;
  }
  
  .form-container input[type="text"] {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #ff5903;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #ff5903;
  }
  
  .image-container {
    margin-top: 20px;
  }
  
  .image-container img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }
  
  .image-details {
    font-size: 16px;
    margin-bottom: 20px;
  }

  #submitbutton {
    background-color: #ff5903;
  }
  